# The Tezos Baker service (part of systemd)
# file: /etc/systemd/system/tezos-newby.service 

[Unit]
Description     = Tezos Baker Service
Wants           = network-online.target 
BindsTo		= tezos-node.service
After           = tezos-node.service

[Service]
User            = newby
Group		= newby
WorkingDirectory= /home/newby/tezos-latest-release/
ExecStartPre	= /bin/sleep 1
ExecStart       = /home/newby/tezos-latest-release/tezos-baker-006-PsCARTHA run with local node /home/newby/.tezos-node remote_ledgerless
Restart         = on-failure

[Install]
WantedBy	= multi-user.target
